@import "./reset.css";

#main {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

#topbar {
    display: flex;
    flex-direction: column;
    background-color: #00E2D5;
}

#logoname {
    margin-top: 6px;
    margin-left: 6px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

#tabs-select {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#tabs-select > li {
    position: relative;
    flex: 1;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
    opacity: 0.5;
    height: 38px;
    transition: opacity .25s ease-in-out;
}

#tabs-select > li::after {
    display: block;
    position: absolute;
    content: '';
    background-color: white;
    opacity: 0;
    height: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 999px 999px 0 0;
    transition: opacity .25s ease-in-out;
}

#tabs-select > li.current {
    opacity: 1;
}

#tabs-select > li.current::after {
    opacity: 1;
}

#tabs-select a {
    display: flex;
    color: white;
    font-weight: 700;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#tabs {
    flex: 1;
    position: relative;
}

.tab {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -100%;
    opacity: 0;

    transition: left .5s ease-in-out, opacity .25s ease-in-out;
}

.tab.current {
    left: 0;
    opacity: 1;
}

#lista-equipes {
    margin-top: 8px;
    
}

.equipe {
    display: flex;
    width: 100%;
    border: 0;
    background-color: #ffffff00;
    transition: background-color .25s ease-in-out;
    padding: 8px 8px;
    position: relative;
    padding-bottom: 16px;
    outline: none;
}

.equipe:active {
    background-color: rgba(0, 226, 215, 0.2);
}

.equipe:not(:last-child) {
    margin-bottom: 16px;
}

.equipe:not(:last-child)::after {
    display: block;
    position: absolute;
    content: '';
    background-color: black;
    opacity: .1;
    height: 2px;
    left: 8px;
    right: 8px;
    bottom: 0;
    border-radius: 999px;
}

.equipe-img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}

.equipe-desc {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-left: 16px;
}

.equipe-nome {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 4px;
}

.equipe-descricao {
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    opacity: .75;
    text-align: left;
}